In [2]:
import json
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/cesua/OneDrive/Documentos/Henry/Proyecto_Individual_1/Datasets/credits.csv")
df.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [4]:
# Obtener las columnas actuales del DataFrame
columnas_actuales = df.columns.tolist()

# Definir el nuevo orden de las columnas
nuevo_orden = ['id', 'cast', 'crew']

# Reordenar las columnas del DataFrame
df = df[nuevo_orden]

In [7]:
def desanidar_credits(credits): 
    creditos_director = []
    creditos_nombre = []
    creditos_id = []
    for creditos in credits:
        creditos_director.append(creditos['job'])
        creditos_nombre.append(creditos['name'])
        creditos_id.append(creditos['id'])
    return creditos_director, creditos_nombre, creditos_id

creditos_desanidados = df['crew'].apply(lambda x: desanidar_credits(eval(x)))

nuevo_df = pd.DataFrame(creditos_desanidados.tolist(), columns=['job', 'name','id'])

nuevo_df = nuevo_df.apply(pd.Series.explode)

nuevo_df = nuevo_df.reset_index(drop=True)

In [8]:
nuevo_df

                            job                 name       id
0                      Director        John Lasseter     7879
1                    Screenplay          Joss Whedon    12891
2                    Screenplay       Andrew Stanton        7
3                    Screenplay           Joel Cohen    12892
4                    Screenplay         Alec Sokolow    12893
...                         ...                  ...      ...
465080  Original Music Composer       Richard McHugh   549356
465081  Director of Photography       João Fernandes    58818
465082                 Director     Yakov Protazanov  1085341
465083                 Producer  Joseph N. Ermolieff  1195656
465084                 Director        Daisy Asquith  1344495

[465085 rows x 3 columns]

In [10]:
# Unir el DataFrame original con las columnas 'job' y 'name' del nuevo DataFrame
df = df.join(nuevo_df[['job', 'name']])

In [11]:
df

,id,cast,crew,job,name
0,862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Director,John Lasseter
1,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Screenplay,Joss Whedon
2,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Screenplay,Andrew Stanton
3,31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Screenplay,Joel Cohen
4,11862,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Screenplay,Alec Sokolow
...,...,...,...,...,...
45471,439050,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",Screenplay,Joe Eszterhas
45472,111109,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Producer,Don Simpson
45473,67758,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Producer,Jerry Bruckheimer
45474,227506,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",Original Music Composer,Giorgio Moroder
45475,461257,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Director of Photography,Donald Peterman

In [12]:
df.to_csv('credits_final.csv', index=False)